data/*
build/*
bin/*
lib/*
dist/
*egg-info/
Data/
Notebooks/*
TODO*
*png
*~
pyvenv.cfg
btxData*
tmp*
# a link to private keys
kola*
*cache
README.org
*csv
*.ipynb
setup.cfg
.dir-locals.el
__pycache__
.python-version

